ACCESS_CODE=hier-einen-gemeinsamen-zugangscode-eintragen
SESSION_SECRET=hier-einen-langen-zufaelligen-sitzungsschluessel-eintragen
POSTGRES_PASSWORD=hier-ein-langes-zufaelliges-datenbankpasswort-eintragen
